<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="filePath" value="E:\Taylor's Files\Programming\Learning\C#\TournamentTracker\TextFiles" />
  </appSettings>
  
  <connectionStrings>
    <add 
      name="Tournaments" 
      connectionString="Server=DOVILLE;Database=Tournaments_App_DB;Trusted_Connection=True;"
      providerName="System.Data.SQLClient"
    />  
  </connectionStrings>

</configuration>